<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	</head>
	
  <body onload="">
    {% include 'nav.html' %}
    <div id="content">
		<h1 style="font-weight: bolder; font-size: 4em; text-align: center; color: #D2AD2D;">{% block header %}{% endblock %}</h1>
        <button style="text-align: center; margin: auto; width: 100%;" onclick="window.scrollTo(0, document.body.scrollHeight);" class="btn btn-dark">Scroll to bottom!</button>
    {% for post in posts %}
      <div style="margin: 2em 3em; width: 95%;" class="post">
        <div class="post-heading">
          <div class="post-title">{{post.subject}}</div>
          <div class="post-id"><b>Posted by:</b> {{post.user}}</div>
	  <!-- see strftime.org, %X and %z are blank because its naive -->
          <div class="post-date">{{post.create_date}}</div>
        </div>
        <div class="post-content">{{post.content}}</div>
      </div>
      {% endfor %}

	<br><br> <hr> <br><br>
	<div style="margin: auto; width: 75%" id="chatArea">
		<h2 class="text-dark" style="margin: auto; width: 75%;">Join the forum!</h2>
	    <form method="post" action={{ph_forum}}>
	      <!-- <label>
	        <div>Subject</div>
	        <input type="text" name="subject" value="{{ph_subject}}">
	      </label> -->
	      <label>
	        <br>
			  <div style="margin: auto; width: 75%;">
	        	<textarea style="margin: auto; width: 100%" name="content" id="postArea" maxlength="1000">{{ph_content}}</textarea>
			  </div>
	      </label>
	      <div class="error">{{ph_error}}</div>
		  <div style="margin: auto; width: 75%;">
	      <input type="submit" value="Send Post">
		  </div>
	    </form>
		</div>
		<div id="page-bottom" style="margin-top: 1em;"></div>
	    </div>
	{% include 'foot.html' %}
	  <script>
		  var scrollToBottom = document.getElementById("scroll-to-bottom");
		  var pageBottom = document.getElementById("page-bottom");

		  scrollToBottom.addEventListener("click", function() {
  			window.scrollTo(0, document.body.scrollHeight);
		  })

		  function getCookie(name) {
		      var dc = document.cookie;
		      var prefix = name + "=";
		      var begin = dc.indexOf("; " + prefix);
		      if (begin == -1) {
		          begin = dc.indexOf(prefix);
		          if (begin != 0) return null;
		      }
		      else
		      {
		          begin += 2;
		          var end = document.cookie.indexOf(";", begin);
		          if (end == -1) {
		          end = dc.length;
		          }
		      }
		      // because unescape has been deprecated, replaced with decodeURI
		      //return unescape(dc.substring(begin + prefix.length, end));
		      return decodeURI(dc.substring(begin + prefix.length, end));
		  } 
		  
		  function checkCookie() 
		  {
			  if (getCookie("user_id") == null)
			  {
				  console.log("YIPPEEKIYAYAAYAYA")
				  const p = document.createElement("p");
				  p.innerHTML = "You need to log in before you can post stuff on here.";
				  p.style.fontWeight = "bolder";
				  const chat = document.getElementById("chatArea");
				  chat.replaceWith(p);
			  }
		  }
	  </script>
  </body>
</html>