{% extends 'base_form.html' %}

{% block title %}
Change Username
{% endblock %}

{% block header %}
Change your username
{% endblock %}

{% block bodycontent %}
<div class="container-fluid m-5">
<div class="shadow container" style="margin: auto; height: 0; width: 50%; padding-bottom: 50%;">
	<div>
	<form method="POST" action='/changeUsername'>
<p>
  	  <label for="new">New username</label>
  	  <input type="text" id="new" name="new" value={{new}}> <span style="color: red; font-weight: bolder;">{{newError}}</span> <br>
</p>
<p>
	  <label for="verify">Enter password to confirm&nbsp;</label>
  	  <input type="password" id="verify" name="verify" value={{verify}}> <span style="color: red; font-weight: bolder;">{{verifyError}}</span> <br>
</p><br>
<p>
	 <input class="post-submit" type="submit" value="Submit">
</p>
 	</form>
	</div>
</div>
</div>
{% endblock %}