<div style="padding: 0;" class="container-fluid footer">
<footer class="bg-secondary">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <p class="text-dark">Why are you down here? Do people even look at footers anymore?</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-dark text-uppercase font-weight-bold mb-4">Forums</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-dark">Freshmen</a></li>
            <li class="mb-2"><a href="#" class="text-dark">Sophomores</a></li>
            <li class="mb-2"><a href="#" class="text-dark">Juniors</a></li>
            <li class="mb-2"><a href="#" class="text-dark">Seniors</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-dark text-uppercase font-weight-bold mb-4">About</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="/about" class="text-dark">Why did you make this</a></li>
            <li class="mb-2"><a href="/faq" class="text-dark">How do I use this?</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-dark text-uppercase font-weight-bold mb-4">Questions?</h6>
          <p class="text-dark mb-4">If you have a complaint, I suggest you submit it through our email system. I would be happy to refer you to my address below.</p>
            <ul class="list-unstyled mb-0">
            	<li class="mb-2"><a href="mailto:jai.v.nagaraj@gmail.com" class="text-dark">Email me (I don't bite)</a></li>
          	</ul>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2023 Jai Nagaraj. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>