{% extends 'base_form.html' %}

{% block title %}
Login
{% endblock %}

{% block header %}
Login
{% endblock %}

{% block bodycontent %}
	<form method="POST" action='/login'>
<p>
 	  <label for="user">Username</label>
  	  <input type="text" id="user" name="user" value={{user}}>
</p>
<p>
  	  <label for="pass">Password</label>
  	  <input type="password" id="pass" name="pass" value={{password}}>
</p>
<span style="color: red; font-weight: bolder;">{{loginError}}</span> <br>
</p>
<p>
	 <input type="submit" value="Submit">
</p>
 	</form>
{% endblock %}