<!DOCTYPE HTML>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="static/stylesheets/style.css">
	<script src="https://accounts.google.com/gsi/client" async defer></script>

    
</head>
<body>
    {% include 'nav.html' %}
	<img src="{{pfp}}" alt="Profile Picture" class="img-fluid rounded-circle mx-auto d-block" style="margin-top: 2em;">
	<h1 style="font-size: 5.5em; font-weight: bolder; margin: auto;">Hey there, {{name}}!</h1>
	<div class="container-fluid p-5 bg-secondary" style="color: white; margin-top: 2em;">
		<p class="h1" style="font-weight: bolder;">
			Account Details
		</p>
		<p>Username: {{username}}</p>
		<p>Email: {{email}}</p>
	</div>
	<div class="container-fluid p-5 bg-light">
		<p class="h1" style="font-weight: bolder;">
			Account Management
		</p>
		<button class="btn btn-outline-info">Change username</button>
		<button class="btn btn-outline-info">Change password</button>
		<button class="btn btn-outline-danger">Delete account</button>
	</div>

	<form action="/logout">
		<input type="submit" value="Logout" class="btn btn-dark"></input>
	</form>
	{% include 'foot.html' %}
</body>